.modal,
#overlay {
    opacity: 0;
    pointer-events: none;
    transition: 200ms ease-in-out;
}

.modal.active,
#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 1rem;
    z-index: 1000;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}